@media (max-width: 640px) {
  .nav-container {
    height: 80px;
    justify-content: end;
    padding: var(--space-sm) var(--space-md);
    overflow: hidden;
  }
  .nav-container .link-container {
    display: flex;
    position: absolute;
    top: 0;
    right: -100%;
    flex-direction: column;
    width: fit-content;
    border-radius: 0;
    height: 100vh;
    transition: right var(--transition-fast);
  }

  .nav-container .link-container.link-open {
    right: 0;
  }

  .nav-container:has(.link-container.link-open) {
    overflow: visible;
  }

  .nav-container .link-container .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-md);
    font-weight: 600;
  }

  .nav-container .link-container li {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }


  .nav-container .side-menu {
    display: flex;
    align-items: center;
    font-size: var(--font-sm);
    background-color: var(--gray-50);
  }

  .home-container {
    flex-direction: column-reverse;
    justify-content: space-between;
    height: calc(100vh - 80px);
    padding-block: 1rem;
  }

  .home-container .img-card {
    margin: unset;
    width: 100%;
    box-shadow: unset;
    display: flex;
    justify-content: center;
  }

  .home-container .description {
    height: unset;
    flex-grow: 1;
  }

  .home-container .img-card img {
    width: 50%;
    height: auto;
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-xl);
  }

  .home-container .description .description-content {
    justify-content: start;
  }

  .home-container .description .description-content h1 {
    font-size: var(--font-sm);
  }

  .home-container .description .description-content h2 {
    font-size: var(--font-xs);
  }

  .home-container .description .description-content p {
    font-size: 1rem;
  }

  .about-container .about-content .about-img {
    display: none;
  }

  .about-content .about-description .detail-description {
    display: flex;
    flex-direction: column;
  }

  .skill-content .tab-skill .tab-btn {
    width: 50%;
  }

  .skill-content .tab-content-container.active {
    grid-template-columns: 1fr;
  }

  .projects-container .content {
    flex-direction: column;
  }

  .contact-container .contact-content {
    flex-direction: column;
    gap: 2rem;
  }

  .contact-form label[for="nama"] {
  grid-column: 1/3;
  grid-row: 2/3;
}

.contact-form input[name="nama"] {
  grid-column: 1/3;
}

  .contact-form label[for="email"] {
    grid-column: 1/3;
    grid-row: 4/5;
  }

  .contact-form input[name="email"] {
    grid-column: 1/3;
  }
}
